**/CMakeFiles
**/bin
**/C3CAN
**/cmake-build-debug
.idea/.name
.idea/workspace.xml
**.aux
**.log
**.nav
**.out
**.pdf
**.snm
**.synctex.gz
**.synctex
**.synctex(busy)
**.toc
**.cmake
CMakeCache.txt
**.so
Makefile
UI
**.cbp
**.dir**
**.vcxproj**
**/out
**/x64
**/.vs
**/Debug
**.sln
